<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');

  var handleStripeResponse = function(status, response) {

    var $form = $('#payment-form');
  
    console.log($form);
    
    if (response.error) {
      // Show the errors on the form
      $form.find('#stripe_error').text(response.error.message).show();
      $form.find('input[type=submit]').prop('disabled', false);
    } 
    else {
      // token contains id, last4, and card type
      var token = response.id;
      alert(token);

      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripe_card_token" />').val(token));

      // and re-submit
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $('#payment-form').submit(function(e) {

      var $form = $(this);
      // Disable the submit button to prevent repeated clicks
      $form.find('input[type=submit]').prop('disabled', true);
      Stripe.card.createToken($form, handleStripeResponse);
      // Prevent the form from submitting with the default action
      return false;
    });
  });

</script>

<div class="row">
  <div class="col-md-4">
    <h1>Signing up for: <br /><%= @order.plan.name %></h1>
    <strong>Only <%= number_to_currency @order.plan.price %></strong> per month!</p>
  </div>
  
  <div class="col-md-8">
    <%= form_tag orders_path(@order), :id => "payment-form", :class => "form" do %>
      <% if @order.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

          <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="stripe_error" class="alert alert-danger" style="display:none">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>

      <%#= f.hidden_field :plan_id %>
      <%= hidden_field_tag :plan_id %>

      <div class="form-group">
        <span class="email">Plan: </span><br />
        <%= @plan.name %>
      </div>

      <div class="form-group">
        <span class="email">Email: </span><br />
        <%= current_user.email %>
      </div>

      <% if @order.stripe_card_token %>
        Credit card has been provided
      <% else %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control" } %>
          </div>
          <div class="col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control" } %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :card_month, "Expiration Date" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control", id: "card_month" } %>
          </div>
          <div class="col-md-3">
            <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control", id: "card_year" } %>
          </div>
        </div>
      </div>

      <% end %>

      <div class="form-group">
        <%#= f.submit 'Complete Order', class: "btn btn-default" %>
        <%= submit_tag 'Complete Order', class: "btn btn-default" %>
      </div>
    <% end %>

  </div>
</div>
