<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <%= form_for(@product, :html => { multipart: true }) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :region_id %><br />
        <%= f.collection_select :region_id, Region.order(:name), :id, :name, include_blank: true %>
      </div>
      <div class="field">
        <%= f.label :country_id, "Country" %><br />
        <!-- grouped_collection_select(method, collection, group_method, group_label_method, option_key_method, option_value_method) -->
        <!-- method- the attribute of object corresponding to the select tag -->
        <!-- collection- an array of objects representing the <optgroup> tags -->
        <!-- group method- the name of a method which, when called on a member of collection, returns an array of child objects representing the <option> tag -->
        <!-- group_label_method- the name of a method which, when called on a member of collection, returns a string to be used as the label attribute for its <optgroup> tag -->
        <!-- option_key_method- the name of a method which, when calledon a child object of a member of collection, returns a value to be used as the contents of its <option> tag -->
        <!-- option_value_method- the name of a method which, when called on a child object of a member of collection, returns a value to be used as the contents of its <option> tag -->
        <%= f.grouped_collection_select :country_id, Region.order(:name), :countries, :name, :id, :name, include_blank: true %>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    
  </div>
</div>
