<h1>Manage Your Listings</h1>
<br />
<table class="table table-bordered table-hover">
  <th>Image</th>
  <th>Name</th>
  <th>Price</th>
  <th>Description</th>
  <th></th>
  <th></th>

  <% @products.each do |product| %>
    <%= link_to(product) do %>
      <tr>
          <td><%= link_to image_tag(product.image.url(:thumb)), product %></td>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= product.description %></td>
          <% if (user_signed_in?) && (current_user == product.user) %>
            <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
          <% end %>
        </tr>
    <% end %>
  <% end %>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Add a New Product', new_product_path, class: "btn btn-default" %> 
<% end %>

<br />
<br />

<%= link_to 'Back to Home Page', products_path, class: "btn btn-link" %>

<br />