
<%= image_tag @product.image.url(:medium) %>

<h1>
  <%= @product.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price: </strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Brought to you by: </strong>
  <%= @product.user.name %>
</p>

<br>
<div class="center">
  <%= link_to "Buy It Now", new_product_order_path(@product), class: "btn btn-primary" %>
</div>

<% if current_user == @product.user %>
	<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
	<!-- if the current_user is the same as the person who uploaded the product, there will be an edit product link on the bottom. otherwise, only the 'back' button will show up. -->
<% end %>
<%= link_to 'Back', products_path, class: "btn btn-link" %>


<!-- # first see if the dom has loaded
jQuery ->
  # get the country dropdown by its ID (user_country_id)
  #$('#user_country_id').parent().hide()
  # will select all of the country options inside of the select menu to variable 'countries'
  countries = $('#user_country_id').html()
  # .change() = will get triggered when a user selects a region
  $('#user_region_id').change ->
    # .text() = fetches content of the :selected item, and stores it in the region variable
    region = $('#user_region_id :selected').text()
    # .filter()- filters by country(because of 'countries' variable)/region (because of label='region'); .html() = fetches content
    options = $(countries).filter("optgroup[label='#{region}']").html()
    if options
      # if any options are found, we populate the dropdown with countries
      $('#user_country_id').html(options)
      # only show when the user selects a region
      #$('#user_country_id').parent().show()
    else
      # we won't display any options/ hidden by default; also hidden if there aren't any countries for a region
      $('#user_country_id').empty() 
      #$('#user_country_id').parent().hide() -->

<!-- # first see if the dom has loaded
jQuery ->
	# get the country dropdown by its ID (product_country_id)
  $('#product_country_id').parent().hide()
  # will select all of the country options inside of the select menu to variable 'countries'
  countries = $('#product_country_id').html()
  # .change() = will get triggered when a user selects a region
  $('#product_region_id').change ->
  	# .text() = fetches content of the :selected item, and stores it in the region variable
    region = $('#product_region_id :selected').text()
    # .filter()- filters by country(because of 'countries' variable)/region (because of label='region'); .html() = fetches content
    options = $(countries).filter("optgroup[label='#{region}']").html()
    if options
    	# if any options are found, we populate the dropdown with countries
      $('#product_country_id').html(options)
      # only show when the user selects a region
      $('#product_country_id').parent().show()
    else
    	# we won't display any options/ hidden by default; also hidden if there aren't any countries for a region
      $('#product_country_id').empty() 
      $('#product_country_id').parent().hide() -->